
        
        h2,p{
            width:100%;
            text-align: center;
        }
        .game{
            width: 310px;
            display: grid;
            grid-template-columns: repeat(3,100px);
            grid-template-rows: repeat(3,100px);
            gap: 5px;
            margin:0 auto;
        }
        .cell{
            width: 100px;
            height: 100px;
            border: 1px solid black;
            background-color: #f0f0f0;
            font-size: 24px;
            font-weight: bold;
            font-family: Arial;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        p{
            font-size: 14px;
            font-family: 'Century Gothic', Futara, sans-serif;
        }
        #replay{
            border-radius: 3px;
            border: none;
            margin: 20px ;
            display: block;
  margin: 20px auto;
        }
